body {
    background-color: white;
}

.go1 {
    text-align: center;
    font-size: 96px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come1 {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: auto;
    border-radius: 22px;
}

.go2 {
    text-align: center;
    font-size: 55px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go3 {
    text-align: left;
    margin-left: 20px;
    font-size: 66px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go4 {
    text-align: left;
    margin-left: 20px;
    font-size: 45px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go5 {
    text-align: left;
    margin-left: 20px;
    font-size: 35px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come2 {
    width: 5%;
    margin-left: 20px;
    height: auto;
    border-radius: 22px;
}

.go6 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.go7 {
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.come3 {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: auto;
    border-radius: 22px;
}
